begginer-xml/Practice-XSD/Exercise2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="universidad">
 <xs:complexType>
  <xs:sequence>
   <xs:elemet name="estudiante" maxOccurs="unbounded">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="edad" type="xs:integer"/>
      <xs:element name="carrera" type="xs:string"/>
     </xs:sequence>
    </xs:complexType>
   </xs:elemet>
  </xs:sequence>
 </xs:complexType>
</xs:element>